[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dtcontrol = "==2.1.0"
dd = "==0.5.5"
astutils = "==0.0.4"
ply = "==3.10"
networkx = "==2.6.3"
psutil = "==5.9.0"
pydot = "==1.4.1"
pyparsing = "==3.0.7"
Flask = "==1.1.2"
click = "==8.0.3"
itsdangerous = "==2.0.1"
Jinja2 = "==2.10.3"
MarkupSafe = "==2.0.1"
Werkzeug = "==2.0.2"
pandas = "==0.25.2"
numpy = "==1.22.2"
python-dateutil = "==2.8.2"
six = "==1.14.0"
pytz = "==2021.3"
"ruamel.yaml.clib" = "==0.2.6"
"ruamel.yaml" = "==0.16.10"
scikit-learn = "==0.22"
joblib = "==1.1.0"
scipy = "==1.8.0"
sympy = "==1.6.1"
mpmath = "==1.2.1"
tabulate = "==0.8.6"
tqdm = "==4.42.0"

[dev-packages]

[requires]
python_version = "3.8"
