<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>dtControl Frontend</title>
    <meta name="author" content="Tom Doan">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for( 'static', filename='js/common.js' ) }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav-my.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/node-stylings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hamburger.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <style>
        select.selectpicker {
            display: none;
            /* Prevent FOUC */
        }
    </style>
</head>

<body id="bootstrap-override">

<!-- Help Button -->
    <div class="modal fade" id="helpModal" tabindex="2" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="helpModalLabel">Welcome to dtControl</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="helpTextBody">
                    If you're looking for some guidance on how to use dtControl, you've come to the right place!<br>
                    We've put together a series of tutorial videos that will walk you through the features and functions of dtControl step-by-step.<br>
                    To access the tutorial videos, please click on the following link to visit our <a href="https://dtcontrol.model.in.tum.de/tutorials/" target="_blank">tutorial page</a>.<br>
                    From there, you'll find a variety of tutorial videos that cover everything from the basics to more advanced features.<br>
                    <br>
                    If you have any additional questions or feedback, please don't hesitate to reach out to me via: <br>
                    <a href="mailto:christoph.weinhuber@tum.de">christoph.weinhuber@tum.de</a>
                </div>

                <div class="modal-footer" id="tutorialFooter">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


<!-- Navbar at top -->
<nav class="navbar navbar-expand-xl navbar-light">
    {% block hamburger %}
    <!--button id="navbar-hamburger" class="hamburger hamburger--spin" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button-->
    {% endblock %}
    <a class="navbar-brand ml-0" href="/"><img class="logo"
                                               src="{{ url_for('static', filename='images/logo.png') }}"/>dtControl</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <button type="button" id="helpButton" data-toggle="modal" data-target="#helpModal" class="btn btn-outline-info">Help</button>
</nav>


<!-- Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messageModalTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


{% block content %}{% endblock %}

</body>

</html>