{% extends 'base.html' %}


{% block content %}


<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main" class="container-fluid">

    <div id="controller-row" class="row ml-5 mr-5">
        <div class="col-lg-12">
            <div class="card border-secondary mb-4">
                <div class="card-body h-100">
                    <div class="row mb-4">
                        <div class="col d-flex">
                            <h4 class="card-title">Controllers</h4>
                            <input type="file" id="add-controller-file" style="display: none">
                            <div class="ml-auto">
                                <button class="btn btn-primary m-1" id="add-controller-button" onclick="document.getElementById('add-controller-file').click()">
                                    <i class="fa fa-plus" style="font-size: 80%"></i> Add controller file
                                </button>
                                <button class="btn btn-secondary m-1" id="add-controller-metadata-button">
                                    <i class="fa fa-plus" style="font-size: 80%"></i> Add controller and metadata file
                                </button>
                            </div>
                        </div>
                    </div>
                    <table id="controller-table" class="table rounded table-hover">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col" style="display:none">Full Path</th>
                            <th scope="col">Controller</th>
                            <th scope="col">#&nbsp;States</th>
                            <th scope="col">#&nbsp;State-Actions Pairs</th>
                            <th scope="col">Variable Types</th>
                            <th scope="col">State Variables</th>
                            <th scope="col">Output Variables</th>
                            <th scope="col">Maximum Non-Determinism</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="special">
                            <td colspan="10" align="center">Add a controller to run experiments</td>
                        </tr>
                        </tbody>
                    </table>
                    <!--div class="row justify-content-center">
                        <button class="btn btn-primary" type="submit" name="add-controller-bottom" id="add-controller-button-bottom"> <i class="fa fa-plus" style="font-size: 80%"></i> Add new controller file</button>
                    </div-->
                </div>
            </div>
        </div>
    </div>

    <div id="results-row" class="row ml-5 mr-5">
        <div class="col-lg-12">
            <div class="card border-secondary mb-4">
                <div class="card-body h-100">
                <h4 class="card-title">Results</h4>
                <table id="results-table" class="table rounded table-hover">
                    <thead class="custom-thead">
                    <tr>
                        <th scope="col" style="display:none">Result #</th>
                        <th scope="col">Controller #</th>
                        <th scope="col" style="display:none">Full Path</th>
                        <th scope="col">Controller</th>
                        <th scope="col">Determinize</th>
                        <th scope="col">Predicates</th>
                        <th scope="col"># Nodes</th>
                        <th scope="col">Status</th>
                        <th scope="col">Construction Time</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="special">
                        <td colspan="10" align="center">Run an experiment to view results here</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>

        <!-- Modal form to choose advanced options for experiment -->
    <div class="modal fade" id="advanced-options-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header d-block">
                    <div class="d-flex">
                        <h3 class="modal-title">Advanced Options</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <h5 class="modal-title" id="modal-subtitle"></h5>
                </div>
                <!--div class="modal-body"><p>Modal body text goes here.</p></div-->
                <form id="tree-builder-form">
                    <!-- Hidden fields to store which for which controller the modal was opened -->
                    <input type="hidden" id="hidden-controller-id" value="42">
                    <input type="hidden" id="hidden-controller-name" value="my-controller">
                    <div class="modal-body">
                        <div class="form-group">
                            <h5><label for="option-determinize">Determinize </label></h5>
                            <div class="select">
                                <select class="propList custom-select" id="option-determinize" name="option-determinize">
                                </select>
                            </div>
                        </div>
                        <h5><label for="option-predicates">Predicates</label></h5>
                        <div class="form-group" id="option-predicates">
                            <label for="option-numeric-predicates">Numerical</label>
                            <div id="option-numeric-predicates">
                                    <!--div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                      <label class="form-check-label" for="defaultCheck1">
                                        Default checkbox: the real checkboxes are added in this format in common.js
                                      </label>
                                    </div-->
                            </div>
                            <h6 id="num-pred-error-msg" class="mt-2 text-danger" style="visibility: hidden"> At least one option must be chosen. </h6>
                            <div id="option-categorical-predicates" class="row">
                                <div id="cat-pred-col1" class="col">
                                    <label for="option-categorical-predicates">Categorical</label>
                                    <div id="cat-pred-div"></div>
                                </div>
                                <div id="cat-pred-col2" class="col">
                                </div>
                            </div>
                          <!--   TODO T: only one option must be chosen if categorical variables present + aussagekraeftigere tags + beschreibung bei hovern -->
                            <h6 id="cat-pred-error-msg" class="mt-2 text-danger" style="visibility: hidden"> At least one option must be chosen. </h6>
                            <label for="option-user-pred">User Predicates</label>
                            <table id="user-pred-table-modal" class="table table-hover">
                                <tbody></tbody>
                            </table>

                            <!--table id="user-pred-table-modal" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">User Predicates</th>
                                        <td scope="col"><i class="fa fa-trash text-danger" style="visibility: hidden"></i></td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table-->
                            <div class="form-row align-items-center" id="user-pred-form">
                                    <div class="col">
                                        <input type="text" class="form-control" id="option-user-pred" value="x_0 + 3*x_1 <= c_0; c_0 in {20, 40, 60}">
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" id="add-pred">Add</button>
                                    </div>
                            </div>
                            <h6 id="user-pred-error-msg" class="mt-2 text-danger" style="visibility: hidden"> The predicate does not have a valid structure. </h6>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="restore-default-button">Restore default values</button>
                        <button type="button" class="btn btn-secondary">Assign priorities</button>
                        <button type="submit" class="btn btn-primary">Run</button>
                        <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"> Upload</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!--div class="modal-body"><p>Modal body text goes here.</p></div-->
                <div class="col-12">
                    <br>
                    <label for="controller-file-upload">Controller File</label>
                    <div class="input-group mt-1 mb-4">
                        <div class="custom-file">
                            <input id="controller-file-upload" type="file" name="file" class="custom-file-input">
                            <label class="custom-file-label" for="controller-file-upload">Choose controller file</label>
                        </div>
                    </div>
                    <div class="progress mb-4" style="height: 5px;">
                        <div id="controller-file-upload-progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 id="controller-type-help" class="text-danger" style="visibility: hidden"> Supported file formats: .scs, .dump, .csv, .prism, .storm.json </h6>
                </div>
                <div class="col-12">
                    <br>
                    <label for="metadata-file-upload">Metadata File (Optional)</label>
                    <div class="input-group mt-1 mb-4">
                        <div class="custom-file">
                            <input id="metadata-file-upload" type="file" name="metadata-file" class="custom-file-input">
                            <label class="custom-file-label" for="controller-file-upload">Choose metadata file</label>
                        </div>
                    </div>
                    <div class="progress mb-4" style="height: 5px;">
                        <div id="metadata-file-upload-progress-bar" class="progress-bar" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h6 id="metadata-type-help" class="text-danger" style="visibility: hidden"> Invalid: The metadata file has to be a .json file. </h6>
                </div>
                <div class="modal-footer">
                        <button id="submit-file-button" type="submit" class="btn btn-primary" disabled>Ok</button>
                        <!--button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button-->
                </div>
            </div>
        </div>
    </div>

    <div id="experiments-row" class="row ml-2">
        <div class="col-lg-12">
            <div class="card border-secondary mb-4">
                <div class="card-body h-100">
                <h4 class="card-title">Experiments</h4>
                <table id="experiments-table" class="table rounded">
                    <thead class="custom-thead">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" style="display:none">Full Path</th>
                        <th scope="col">Controller</th>
                        <th scope="col">Preset</th>
                        <th scope="col">Determinize</th>
                        <th scope="col">Numeric Predicates</th>
                        <th scope="col">Categorical Predicates</th>
                        <th scope="col">Impurity</th>
                        <th scope="col">Tolerance</th>
                        <th scope="col">Safe Pruning</th>
                        <th scope="col">Actions</th>
                        <th scope="col" class="collapse">User predicates</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="runall">
                        <td colspan="9"></td>
                        <td id="runall" style="cursor: pointer"><i id="runall-icon" class="fa fa-play text-success" aria-hidden="true"></i> Run all</td>
                    </tr>
                    <tr class="special">
                        <td colspan="10" align="center">Select a controller and preset on the self and click add</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    <div id="results-row-old" class="row ml-2">
        <div class="col-lg-12">
            <div class="card border-secondary mb-4">
                <div class="card-body h-100">
                <h4 class="card-title">Results</h4>
                <table id="results-table-old" class="table rounded">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">Experiment #</th>
                        <th scope="col">Controller</th>
                        <th scope="col">Preset</th>
                        <th scope="col">Status</th>
                        <th scope="col"># Inner Nodes</th>
                        <th scope="col"># Leaf Nodes</th>
                        <th scope="col">Construction time</th>
                        <th scope="col">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="special">
                        <td colspan="10" align="center">Run experiment to view results here</td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for( 'static', filename='js/benchmark.js' ) }}"></script>
{% endblock %}