<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>dtControl Frontend</title>
    <meta name="author" content="Tom Doan">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidenav-my.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/node-stylings.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}">

    <style>
        select.selectpicker {
            display: none;
            /* Prevent FOUC */
        }
    </style>
</head>

<body id="bootstrap-override">

    <!-- Modal that comes on clicking 'Simulate' -->
    <div class="modal fade" id="formSecondModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Select initial values</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <!-- formSecond: Selects initial values for state variables -->
                <form id="formSecond">
                    <div class="modal-body" id="formSecondBody">

                    </div>
                    <div class="modal-footer">
                        <button type="button" onclick="randomizeInputs()" class="btn btn-primary">Randomise</button>
                        <button type="submit" value="Send" class="btn btn-primary"> Send </button>
                    </div>

                </form>

            </div>
        </div>
    </div>

    <!-- Modal that pops up on using the edit tree functionality -->
    <div class="modal fade" id="formThirdModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Select user predicate/preset</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body" id="formThirdBody">
                    <form id="formThird">
                        <div>
                            <label for="config_3">Config:</label>
                            <div class="search_categories">
                                <div class="select">
                                    <select id="config_3" name="config_3">
                      
                                    </select>
                                </div>
                            </div>
                        </div>

                        <!-- Divider -->
                        <hr class="solid">

                        <div>
                            <label for="determinize_3">Determinize:</label>
                            <div class="search_categories">
                                <div class="select">
                                    <select class="propList_3" id="determinize_3" name="determinize_3">
                    
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="numeric-predicates_3">Numeric-Predicates:</label>
                            <div class="search_categories">
                                <div class="select">
                                    <select class="propList_3" id="numeric-predicates_3" name="numeric-predicates_3" multiple>
                    
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="categorical-predicates_3">Categorical-Predicates:</label>
                            <div class="search_categories">
                                <div class="select">
                                    <select class="propList_3" id="categorical-predicates_3" name="categorical-predicates_3" multiple>
                    
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="impurity_3">Impurity:</label>
                            <div class="search_categories">
                                <div class="select">
                                    <select class="propList_3" id="impurity_3" name="impurity_3">
                                        </select>
                                </div>

                            </div>
                        </div>
                        <div>
                            <label for="tolerance_3">Tolerance:</label>
                            <div class="search_categories">
                                <input type="text" id="tolerance_3" name="tolerance_3"><br><br>
                            </div>
                        </div>
                        <div>
                            <label for="safe-pruning_3">Safe-pruning:</label>
                            <div class="search_categories">
                                <div class="select">
                                    <select class="propList_3" name="safe-pruning_3" id="safe-pruning_3">
                                            <option value="true">True</opotion>
                                            <option value="false">False</opotion>
                                        </select>
                                </div>

                            </div>
                        </div>

                        <button class="btn btn-dark btn-lg btn-block" type="submit" style="margin-top: 1.25rem;">Re-construct with presets</button>
                    </form>

                    <!-- Divider -->
                    <hr class="solid">

                    <form id="formFourth">
                        <div>
                            <label for="user_pred">Input predicate:</label>
                            <div class="search_categories">
                                <input type="text" id="user_pred" name="user_pred"><br><br>
                            </div>
                        </div>
                        <button class="btn btn-dark btn-lg btn-block" type="submit" style="margin-top: 1.25rem;">Re-construct with user-predicates</button>
                    </form>

                </div>

                </form>

            </div>
        </div>
    </div>

    <!-- Sidenav that is used for selecting controller, config and other fine tuning properties -->
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <form id="formFirst">

            <div>
                <label for="controller">Controller:</label>
                <div class="search_categories">
                    <div class="select">

                        <select id="controller" name="controller">
            
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <label for="config">Config:</label>
                <div class="search_categories">
                    <div class="select">
                        <select id="config" name="config">
      
                        </select>
                    </div>
                </div>
            </div>

            <!-- Divider -->
            <hr class="solid">

            <div>
                <label for="determinize">Determinize:</label>
                <div class="search_categories">
                    <div class="select">
                        <select class="propList" id="determinize" name="determinize">
    
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <label for="numeric-predicates">Numeric-Predicates:</label>
                <div class="search_categories">
                    <div class="select">
                        <select class="propList" id="numeric-predicates" name="numeric-predicates" multiple>
    
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <label for="categorical-predicates">Categorical-Predicates:</label>
                <div class="search_categories">
                    <div class="select">
                        <select class="propList" id="categorical-predicates" name="categorical-predicates" multiple>
    
                        </select>
                    </div>
                </div>
            </div>

            <div>
                <label for="impurity">Impurity:</label>
                <div class="search_categories">
                    <div class="select">
                        <select class="propList" id="impurity" name="impurity">
                        </select>
                    </div>

                </div>
            </div>
            <div>
                <label for="tolerance">Tolerance:</label>
                <div class="search_categories">
                    <input type="text" id="tolerance" name="tolerance"><br><br>
                </div>
            </div>
            <div>
                <label for="safe-pruning">Safe-pruning:</label>
                <div class="search_categories">
                    <div class="select">
                        <select class="propList" name="safe-pruning" id="safe-pruning">
                            <option value="true">True</opotion>
                            <option value="false">False</opotion>
                        </select>
                    </div>

                </div>
            </div>

            <button class="btn btn-dark btn-lg btn-block" type="submit" style="margin-top: 1.25rem;">Construct</button>
            <button onclick="openSecondForm()" id="openSecondFormButton" class="btn btn-dark btn-lg btn-block" type="button" style="margin-top: 1.25rem;visibility: hidden;">Simulate</button>

        </form>


    </div>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">

        <!-- Navbar at top -->
        <nav class="navbar navbar-expand-xl navbar-light" style="margin: 1.25rem;">
            <button class="btn" onclick="openNav()"><i class="fa fa-cog"></i></button>
            <a class="navbar-brand" href="https://gitlab.lrz.de/i7/dtcontrol">dtControl</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- The four player buttons -->
                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="playerDiv" style="z-index:5;visibility: hidden;">
                    <label class="btn btn-dark">
                      <input type="radio" name="player" id="play" autocomplete="off" value='0'> Play
                    </label>
                    <label class="btn btn-dark active">
                      <input type="radio" name="player" id="pause" autocomplete="off" value='1' checked> Pause
                    </label>
                    <label class="btn btn-dark">
                      <input type="radio" name="player" id="next" autocomplete="off" value='2'> Next
                    </label>
                    <label class="btn btn-dark">
                        <input type="radio" name="player" id="back" autocomplete="off" value='3'> Previous
                    </label>
                </div>

                <!-- Range slider for speed of simulation -->
                <input type="range" min="50" max="2000" value="50" class="slider" id="timeRange" style="visibility: hidden;">

                <!-- Instep form -->
                <form id="instep" class="form-inline my-2 my-lg-0" style="visibility: hidden;">
                    <input class="form-control mr-sm-2" placeholder="Number of steps" aria-label="Number of steps" type="number" id="steps" name="steps" min="1">
                    <button class="btn btn-dark my-2 my-sm-0" type="submit">Step</button>
                </form>

                <!-- Tree animation toggle -->
                <div id="animationDiv" class="btn-group-toggle" data-toggle="buttons" style="visibility: hidden;">
                    <label class="btn btn-outline-dark active" style="margin-left: 7px;">
                      <input id = "animateTree" type="checkbox" checked autocomplete="off"> Animation
                    </label>
                </div>

                <!-- Edit tree toggle -->
                <div id="editTreeDiv" class="btn-group-toggle" data-toggle="buttons" style="visibility: hidden;">
                    <label class="btn btn-outline-dark" style="margin: 7px;">
                      <input id = "editTree" type="checkbox" autocomplete="off"> Edit Tree
                    </label>
                </div>
            </div>
        </nav>

        <!-- Row in which tree and model visualisation cards get added -->
        <div id="mainRow1" class="row" style="visibility: hidden;">
            <!-- Column for tree -->
            <div class="col-lg-12" id="expandThisDiv">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <button type="button" class="btn btn-dark" onclick="expandAll(null)">Expand all</button>
                        <button type="button" class="btn btn-dark" onclick="collapseAll(null)">Collapse all</button>
                        <div class="row no-gutters align-items-center">
                            <!-- Tree in this div -->
                            <div id="treeHere">

                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Column for model visualisation -->
            <div class="col-lg-6" id="hideThisDiv" style="visibility:hidden">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div style="text-align:center;">
                            <canvas id="cartCanvas" width="450" height="250"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Row for simulation table -->
        <div id="mainRow2" class="row" style="visibility: hidden;">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="table-responsive">
                            <!-- Table in this div -->
                            <div id="tableHere">

                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Row for charts with two columns -->
        <div id="mainRow3" class="row" style="visibility: hidden;">
            <div class="col-lg-6" id="chartsHere0">

            </div>

            <div class="col-lg-6" id="chartsHere1">

            </div>
        </div>

    </div>

    <script src="{{ url_for('static', filename='js/Chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.v4.js') }}"></script>
    <script src="{{url_for( 'static', filename='js/heavylifting.js' )}}"></script>
    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "285px";
            document.getElementById("main").style.marginLeft = "285px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
        openNav();
    </script>
</body>

</html>