<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/pygment_trac.css">
    <link rel="icon" href="/assets/images/favicon-32.png" sizes="32x32">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div style="overflow:hidden">
          <a href="/"><img src="{{ page.logo }}" alt="dtControl logo" style="max-height: 130px; margin-left: 0px; margin-bottom: 20px"></a>
          <h1><a href="/">dtControl</a></h1>
          <p>{{ page.summary }}</p>
          <ul class="buttons">
            <li><a href="https://pypi.org/project/dtcontrol/">Install<strong>using PIP</strong></a></li>
            <li><a href="https://gitlab.lrz.de/i7/dtcontrol/-/archive/master/dtcontrol-master.zip">Download <strong>Latest ZIP</strong></a></li>
            <li><a href="https://gitlab.lrz.de/i7/dtcontrol">View On <strong>GitLab</strong></a></li>
          </ul>
        </div>
        <div id="sidebar-nav">
          <span>Navigation</span>
          {{ content | toc_only }}
        </div>
      </header>
      <section>

        {{ content }}

      </section>
      <footer>        
        <p><small>Theme adapted from <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="/assets/js/scale.fix.js"></script>
  </body>
</html>
