<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="/assets/css/pygment_trac.css">
    <link rel="icon" href="/assets/images/favicon-32.png" sizes="32x32">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <div style="overflow:hidden">
            <a href="/"><img src="{{ page.logo }}" alt="dtControl logo"
                             style="max-height: 130px; margin-left: 0px; margin-bottom: 20px"></a>
            <h1><a href="/">dtControl</a></h1>
            <p>{{ page.summary }}</p>
            <ul class="buttons">
                <li><a href="https://pypi.org/project/dtcontrol/">Install<strong>using PIP</strong></a></li>
                <li><a href="https://gitlab.lrz.de/i7/dtcontrol/-/archive/master/dtcontrol-master.zip">Download <strong>Latest ZIP</strong></a>
                </li>
                <li><a href="https://gitlab.lrz.de/i7/dtcontrol">View On <strong>GitLab</strong></a></li>
            </ul>
        </div>
    </header>
    <section>
        <h1>Video Tutorials</h1>
        <h2>Setup</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <video width="560" height="340" controls>
            <source src="/assets/videos/dtControlTutorial_0_Setup.mov" type=video/mp4>
        </video>
        <hr class="divider">

        <h2>Get Experiments</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <video width="560" height="340" controls>
            <source src="/assets/videos/dtControlTutorial_1_GetExperiments.mov" type=video/mp4>
        </video>
        <hr class="divider">

        <h2>Add and Run Experiments</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <video width="560" height="340" controls>
            <source src="/assets/videos/dtControlTutorial_2_AddAndRunExperiments.mov" type=video/mp4>
        </video>
        <hr class="divider">

        <h2>Algebraic Predicates</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <video width="560" height="340" controls>
            <source src="/assets/videos/dtControlTutorial_3_algebraicPredicates.mov" type=video/mp4>
        </video>
        <hr class="divider">

        <h2>Inspect Result</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <video width="560" height="340" controls>
            <source src="/assets/videos/dtControlTutorial_4_Inspect.mov" type=video/mp4>
        </video>
        <hr class="divider">

        <h2>Edit Result</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <video width="560" height="340" controls>
            <source src="/assets/videos/dtControlTutorial_5_Edit.mov" type=video/mp4>
        </video>
        <hr class="divider">

        <h2>Simulate Result</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
            enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
            in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        <video width="560" height="340" controls>
            <source src="/assets/videos/dtControlTutorial_6_Simulation.mov" type=video/mp4>
        </video>
        <hr class="divider">

    </section>
    <footer>
        <p><small>Theme adapted from <a href="https://github.com/orderedlist">orderedlist</a></small></p>
    </footer>
</div>
<script src="/assets/js/scale.fix.js"></script>
</body>
</html>
