.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 3px;
}

.node text {
    font: 12px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
}


/* 
#cartCanvas {
    border: 1px solid black;
} */

#treeHere {
    /* width: 400px; */
    overflow: scroll;
}

#tableHere {
    /* width: 400px; */
    overflow: scroll;
}

.table-fixed {
    height: 300px;
    overflow-y: scroll;
    width: 100%;
    display: block;
}

#expandThisDiv {
    height: 450px;
}

.card-body {
    max-height: 425px;
    max-width: 100%;
    overflow: hidden;
}


/* .col-lg-6 {
    height: 1340px;
} */


/*
.table-fixed,
.table-fixed tr,
.table-fixed td,
.table-fixed th {
    display: block;
}

.table-fixed td,
.table-fixed th,
.table-fixed tr>th {
    float: left;
    position: relative;
    &::after {
        content: '';
        clear: both;
        display: block;
    }
} */