<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <link href="ui/style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <meta charset="UTF-8">
    <title>Benchmark results</title>
</head>
<body>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-4"></div>
        <div class="col-sm-2 text-center">
            <label for="lastResultsToggle">Show only results from last run:</label>
            <input type="checkbox" data-toggle="toggle" id="lastResultsToggle" data-width="100">
        </div>
        <div class="col-sm-2 text-center">
            <label for="cDetStrat">Determinization strategy used in C files:</label>
            <select class="custom-select" id="cDetStrat">
                <option selected value="1">Max norm</option>
                <option value="2">Min norm</option>
            </select>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <table class="table table-bordered table-hover mt-4">
        <caption>#(s, a) refers to the number of state-action pairs (or state-input pairs). #doc refers to the size of the domain of controller.</caption>
        <thead>
        <tr>
            <td></td>
            {% for c in column_names %}
            <th scope="col"><div><span>{{ c }}</span></div></th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for i in range(row_metadata|length) %}
            <tr>
                <th scope="row">{{ row_metadata[i]["name"] }}<br />#(s, a): {{ row_metadata[i]["state_action_pairs"] }}<br />#doc: {{ row_metadata[i]["domain_of_controller"] }}
                </th>
                {% for j in range(table[i]|length) %}
                    {% set cell = table[i][j] %}
                    {% set links = links_table[i][j] %}
                    {% if cell is string %}
                        <td style="text-align: center{{ '; background-color:#ff5733' if cell == 'timeout' or cell=='failed to fit' else '' }}">
                            <span>{{ cell }}</span>
                        </td>
                    {% else %}
                        <td style="text-align: center{{ ';background-color:#ff5733' if 'accuracy' in cell else '' }}">
                            {% for k,v in cell['stats'].items() %}
                                {{ k }}: {{ v }}<br>
                            {% endfor %}
                            {% if 'accuracy' in cell %}
                                accuracy: {{ cell['accuracy'] }}<br>
                            {% endif %}
                            {% if 'time' in cell %}
                                <span class="time">time: {{ cell['time'] }}<br></span>
                            {% endif %}
                            {% if 'dot_link' in links %}
                                <a href="{{ links['dot_link'] }}" target="_blank">View dot file</a>
                            {% endif %}
                            {% if 'c_link' in links %}
                                <br><a href="{{ links['c_link'] }}" target="_blank">View C file</a>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>