<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
    <script type="text/javascript">
        {{ script }}
    </script>
    <title>Benchmark results</title>
</head>
<body>
<div class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-4"></div>
        <div class="col-sm-2 text-center">
            <label for="lastResultsToggle">Show only results from last run:</label>
            <input type="checkbox" data-toggle="toggle" id="lastResultsToggle" data-width="100">
        </div>
        <div class="col-sm-2 text-center">
            <label for="cDetStrat">Determinization strategy used in C files:</label>
            <select class="custom-select" id="cDetStrat">
                <option selected value="1">Min norm</option>
                <option value="2">Max norm</option>
            </select>
        </div>
        <div class="col-sm-4"></div>
    </div>
    <table class="table table-bordered table-hover mt-4" id="table">
        <thead>
        <tr>
            <td></td>
            {% for c in column_names %}
                <th scope="col"
                    style="text-align: center; vertical-align: middle; max-width: 200px; word-wrap:break-word;"
                        {% if c not in last_run_classifiers %}
                    class="not_last_run"
                        {% endif %}
                >
                    {{ c }}
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for i in range(row_metadata|length) %}
            {% set r = row_metadata[i]['name'] %}
            <tr>
                <th scope="row"
                    style="text-align:center"
                        {% if r not in last_run_datasets %}
                    class="not_last_run"
                        {% endif %}
                >
                    {{ r }}
                    <br/>
                    (#state-action pairs: {{ row_metadata[i]["num_rows"] }})
                </th>
                {% for j in range(table[i]|length) %}
                    {% set not_last_run = r not in last_run_datasets or column_names[j] not in last_run_classifiers %}
                    {% set cell = table[i][j] %}
                    {% set links = links_table[i][j] %}
                    {% if cell is string %}
                        <td class="{{ 'not_last_run' if not_last_run else '' }}"
                            style="text-align: center{{ '; background-color:#ff5733' if cell == 'timeout' or cell=='failed to fit' else '' }}; vertical-align: middle">
                            <span>{{ cell }}</span>
                        </td>
                    {% else %}
                        <td class="{{ 'not_last_run' if not_last_run else '' }}"
                            style="text-align: center{{ ';background-color:#ff5733' if 'accuracy' in cell else '' }}; vertical-align: middle">
                            {% for k,v in cell['stats'].items() %}
                                {{ k }}: {{ v }}<br>
                            {% endfor %}
                            {% if 'accuracy' in cell %}
                                accuracy: {{ cell['accuracy'] }}<br>
                            {% endif %}
                            {% if 'time' in cell %}
                                <span style="color: #ecc30b">time: {{ cell['time'] }}<br></span>
                            {% endif %}
                            {% if 'dot_link' in links %}
                                <a href="{{ links['dot_link'] }}" target="_blank">View dot file</a>
                            {% endif %}
                            {% if 'c_link' in links %}
                                <br><a href="{{ links['c_link'] }}" target="_blank">View C file</a>
                            {% endif %}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="position: absolute;top: 40%;left:48%;display: none" id="spinner">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>
</body>
</html>